* {
  padding: 0px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  /* font-family: 'Lexend Mega', sans-serif; */
  background-image: url(../imagenes/Fondocopia1.png);
  /* background-color: #52b788; */
}

.body-sections {
  margin: 0;
}

.header-1 {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  color: #030303;
  margin: 10px;
  padding: 30px 20px;
  border-radius: 10px;
}

.false-navbar {
  background-color: #f4f7f7;
  padding: 48px 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.menu {
  font-size: large;
  font-weight: 600;
  /* background-color: #eaffd0; */
  background-color: #f4f7f7;
}

.logo {
  width: 80.52px;
}

.navbar-nav {
  display: flex;
  justify-self: start;
}

.Inicio,
.turnero,
.pacientes,
.profesionales,
.facturacion,
.contacto {
  font-weight: bold;
  color: #272525;
  padding: 10px;
}

.Inicio:hover,
.turnero:hover,
.pacientes:hover,
.profesionales:hover,
.facturacion:hover,
.contacto:hover {
  color: #fff;
  background-color: #8f8c8c;
  border-radius: 3%;
}
@media screen and (max-width: 768px) {
  .Inicio:hover,
.turnero:hover,
.pacientes:hover,
.profesionales:hover,
.facturacion:hover,
.contacto:hover {
    border-radius: 0;
  }
}

.presentacion {
  font-size: x-large;
  font-weight: 400;
  background: #fff;
  padding: 0 100px;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .presentacion {
    padding: 5px;
  }
}

.titulo-presentacion {
  font-weight: 600;
}

.caja-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

h3 {
  line-height: 60px;
  font-weight: 700;
}

.card-grupo {
  margin: 50px;
}
@media screen and (max-width: 480px) {
  .card-grupo {
    margin: 30px 10px;
  }
}

.caja-1, .caja-3, .caja-2 {
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  /* background: #0066afd8; */
  background: #0066af;
  border-radius: 20px;
  padding: 20px;
}

.caja-2 {
  /* background: #005e9de5; */
  background: #005e9d;
}

.demostracion, .ubicacion {
  background: white;
  padding: 10px;
  margin: 0;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.video-tutorial, .ubicacion-img {
  padding: 20px;
  border-radius: 30px;
}

.paragraph-2 {
  font-size: largeR;
  text-align: center;
  font-weight: 400;
  color: #030303;
}

.paragraph-3 {
  display: flex;
  justify-content: left;
  text-align: center;
  font-size: x-large;
  font-weight: 800;
  color: #030303;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
}

.direccion {
  font-size: larger;
  text-align: center;
  font-weight: 400;
  color: #030303;
}
@media (min-width: 768px) {
  .direccion {
    display: inline-block;
  }
}

.footer {
  padding: 20px 10px;
  margin-top: 20px;
  font-size: large;
  /* background-color: #1b4332; */
  background-color: #40514e;
}

.direccion {
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-align: center;
}

.direccion:hover {
  color: #ffffff;
}

.cuenta-random:hover {
  color: #ffffff;
  text-decoration: none;
}

.cuenta-random {
  display: block;
  justify-self: start;
  text-decoration: none;
  color: black;
}

.inicio {
  float: inline-end;
  background-color: transparent;
  padding: 0.375rem 0.75rem;
  border: 1px solid #000;
  font-weight: 600;
  text-decoration: none;
  color: #030303;
}

.inicio:hover {
  background-color: #ffffff;
  border: 1px solid transparent;
  color: #000;
  transition: all 0.5s;
  text-decoration: none;
}

.search {
  margin-bottom: 10px;
}

.guardar {
  color: #fff;
  border-color: #508f92;
  background-color: #508f92;
  transition: color 0.15s;
}
.guardar:hover {
  background-color: #477f82;
  border-color: #508f92;
}

.agregar {
  color: #508f92;
  border-color: #508f92;
  transition: color 0.15s;
}
.agregar:hover {
  color: #fff;
  background-color: #508f92;
  border-color: #508f92;
}

.agenda {
  padding: 0px 20px 20px 20px;
}

.h2 {
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  color: #030303;
  background: white;
  margin: 0px auto;
  padding: 10px;
}

.datos {
  margin-left: 30px;
  margin-bottom: 20px;
}

.forms-container {
  padding-top: 20px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
}
@media screen and (max-width: 768px) {
  .forms-container {
    grid-template-columns: auto;
    font-size: small;
  }
}

.table-container {
  background-color: #f8f5f1;
  border: 2px solid #fff;
  padding: 5px;
}
.table-container .menu-table, .table-container .btn-group {
  background-color: #dddada;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  grid-column: 1/3;
  align-items: center;
}
.table-container .table-colum {
  padding: 15px;
  justify-self: start;
  overflow: scroll;
  max-height: 400px;
  grid-column: 1/3;
}
.table-container .table-content {
  background-color: #f3f4ed;
  margin: 25px 10px;
  font-size: 0.9em;
  border-collapse: collapse;
  min-width: 1000px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
.table-container .table-content thead tr {
  background-color: #276075;
  color: #fff;
  text-align: left;
  font-weight: bold;
}
.table-container .table-content td {
  border-right: 1px solid #dddddd;
}
.table-container .table-content th, .table-container .table-content td {
  padding: 12px 15px;
}
.table-container .table-content tbody tr {
  border-bottom: 1px solid #dddddd;
}
.table-container .table-content tbody tr:nth-of-type(even) {
  background-color: #e5e2e2;
}
.table-container .table-content tbody tr:last-of-type {
  border-bottom: 2px solid #276075;
}
.table-container .table-content tbody tr:hover {
  background-color: #396164;
  color: #fff;
}

.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.calendar {
  margin: 20px;
  border-radius: 10px;
}
.calendar ol::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.calendar ol li {
  float: left;
  width: 14.28571%;
}
.calendar .day-names {
  border-bottom: 1px solid #eee;
}
.calendar .day-names li {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.calendar .days li {
  border-bottom: 1px solid #eee;
  min-height: 8rem;
}
.calendar .days li .date {
  margin: 0.5rem 0;
}
.calendar .days li .event {
  font-size: 0.75rem;
  padding: 0.4rem;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 4rem;
  margin-bottom: 1px;
}
.calendar .days li .event.span-2 {
  width: 200%;
}
.calendar .days li .event.begin {
  border-radius: 1rem 0 0 1rem;
}
.calendar .days li .event.end {
  border-radius: 0 1rem 1rem 0;
}
.calendar .days li .event.clear {
  background: none;
}
.calendar .days li:nth-child(n+29) {
  border-bottom: none;
}
.calendar .days li.outside .date {
  color: #ddd;
}

.month {
  font-size: 2rem;
}

@media (min-width: 992px) {
  .month {
    font-size: 3.5rem;
  }
}
html {
  scroll-behavior: smooth;
}

/*# sourceMappingURL=style.css.map */
