
* {
    padding: 0px;
    margin: 0;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
body {
    /* font-family: 'Lexend Mega', sans-serif; */
    background-image: url(../imagenes/Fondocopia1.png);
    // // background-image: url(imagenes/Fondo\ copia\ 1.png);
    
   
    
    
    /* background-color: #52b788; */
}
.body-sections {
    margin: 0 10px;
}
