$laptop:1200px;
$laptop:992px;
$tablet:768px;
$phone:480px;

@import 'body';
@import 'header';
@import 'nav-bar';
@import 'presentacion-cards';
@import 'principal';
@import 'footer';
@import 'botones';
@import 'datos';
@import 'turnero';

