.footer {
    padding: 20px 10px;
    margin-top: 20px;
    font-size: large;
    /* background-color: #1b4332; */
    background-color: #40514e;

}

.direccion {
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    font-size: larger;
    font-weight: 400;
    color: #030303;
}

.direccion:hover {
    color: #ffffff;
}

.cuenta-random:hover {
    color: #ffffff;
    text-decoration: none;
}

.cuenta-random {
    display: block;
    justify-self: start;
    text-decoration: none;
    color: black;
}

.inicio {
    float: inline-end;
    background-color: transparent;
    padding: .375rem .75rem;
    border: 1px solid #000;
    font-weight: 600;
    text-decoration: none;
    color: #030303;
}

.inicio:hover {
    background-color: #ffffff;
    border: 1px solid transparent;
    color: #000;
    transition: all 0.5s;
    text-decoration: none;
}