.footer {
    padding: 20px;
    font-size: large;
    /* background-color: #1b4332; */
    background-color: #9dbeb9;

    .footer-container {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: auto;

        .nombre {
            color: #030303;

            h4 {
                text-align: center;
            }

            h5 {
                text-align: center;
            }
        }

        .cuentas {
            grid-column: 3/4;

            ul {
                list-style: none;
            }
        }

        .direccion {
            text-align: center;
            text-decoration: none;
            font-size: larger;
            font-weight: 400;
            color: #212529;
        }

        .direccion:hover {
            color: #ffffff;
        }

        .cuenta-random {
            text-decoration: none;
            color: black;
            &:hover {
                color: #ffffff;
                text-decoration: none;
            }
        }

        .volver {
            background-color: transparent;
            padding: .375rem .75rem;
            border: 1px solid #000;
            display: flex;
            justify-self: start;
            align-self: center;
            font-weight: 600;
            text-decoration: none;
            color: #030303;
            grid-column: 3/4;

            &:hover {
                background-color: #ffffff;
                border: 1px solid transparent;
                color: #000;
                transition: all 0.5s;
                text-decoration: none;
            }
        }
    }





}