.false-navbar {
    background-color: #f4f7f7;
    padding: 48px 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.menu {

    font-size: large;
    font-weight: 600;
    /* background-color: #eaffd0; */
    background-color: #f4f7f7;
}

.navbar-nav {
    display: flex;
    justify-self: start;
}

.Inicio,
.turnero,
.pacientes,
.profesionales,
.contacto {
    font-weight: bold;
    color: #272525;
    padding: 10px;

    &:hover {
        color: #fff;
        background-color: rgb(143, 140, 140);
        border-radius: 3%;

        @media screen and (max-width:$tablet) {
            border-radius: 0;
        }
    }

}