$color:#508f92;

.search {
    margin-bottom: 10px;
}

.guardar {
    color: #fff ;
    border-color: $color ;
    background-color: $color;
    transition: color .15s;
    &:hover {
        background-color: darken($color, 5%);
        border-color: $color;
    }
}
.agregar {
    color: $color ;
    border-color: $color ;
    transition: color .15s;
    &:hover {
        color: #fff;
        background-color: $color;
        border-color: $color;
    }
    
}